{% extends "base.html" %}

{% block title %} Réinitialiser votre mot de passe {% endblock %}

{% block content %}
<style>
    .welcome * {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .welcome table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    .padding-0 {
        padding: 0px !important;
    }

    .margin-0 {
        margin: 0px !important;
    }
</style>

<div bgcolor="#fafafa" marginheight="0" marginwidth="0" class="welcome padding-0 margin-0"
    style="min-width:100%;background:#fafafa;color:#333333;font-weight:normal;text-align:center;line-height:20px;font-size:14px;width:100%!important;margin-top: 50px!important;">
    <table class="padding-0 margin-0"
        style="text-align:center;height:100%;width:100%;background:#fafafa;color:#333333;font-weight:normal;line-height:20px;font-size:14px;">
        <tbody>
            <tr class="padding-0" style="text-align:center">
                <td align="center" valign="top" class="padding-0 margin-0"
                    style="text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;border-collapse:collapse!important;word-break:break-word">
                    <center style="width:100%;min-width:580px">
                        <table style="padding-top:50px;text-align:center;width:100%">
                            <tbody>
                                <tr style="text-align:center" class="padding-0">
                                    <td align="center" class="padding-0 margin-0"
                                        style="text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;border-collapse:collapse!important;word-break:break-word">
                                        <center style="width:100%;min-width:580px">
                                            <table class="padding-0"
                                                style="text-align:inherit;width:580px;margin:0 auto">
                                                <tbody>
                                                    <tr class="padding-0" style="text-align:center">
                                                        <td class="padding-0 margin-0"
                                                            style="text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;padding-right:0px;border-collapse:collapse!important;word-break:break-word">
                                                            <table class="padding-0"
                                                                style="text-align:center;margin:0 auto;width:540px">
                                                                <tbody>
                                                                    <tr class="padding-0" style="text-align:center">
                                                                        <td class="margin-0"
                                                                            style="padding:0px 0px 10px;text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;border-collapse:collapse!important;word-break:break-word">
                                                                            <div style="text-align:center">
                                                                                <h1>Re Source Relationnelle</h1>
                                                                            </div>
                                                                        </td>
                                                                        <td class="padding-0 margin-0"
                                                                            style="text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;width:0px;border-collapse:collapse!important;word-break:break-word">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </center>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="padding-0" style="text-align:inherit;width:580px;margin:0 auto">
                            <tbody>
                                <tr class="padding-0" style="text-align:center">
                                    <td class="padding-0 margin-0"
                                        style="text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;border-collapse:collapse!important;word-break:break-word">
                                        <table class="padding-0" style="text-align:center;width:100%;display:block">
                                            <tbody>
                                                <tr class="padding-0" style="text-align:center">
                                                    <td class="padding-0 margin-0"
                                                        style="text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;padding-right:0px;border-collapse:collapse!important;word-break:break-word">
                                                        <div
                                                            style="background:#ffffff;background-color:#ffffff;border:1px solid #dddddd;padding:20px;border-radius:3px">
                                                            <table class="padding-0"
                                                                style="text-align:center;margin:0 auto;width:540px">
                                                                <tbody>
                                                                    <tr class="padding-0" style="text-align:center">
                                                                        <td class="margin-0"
                                                                            style="padding:0px 0px 10px;text-align:center;color:#333333;font-weight:normal;line-height:20px;font-size:14px;border-collapse:collapse!important;word-break:break-word">
                                                                            <div>
                                                                                <div
                                                                                    style="padding:20px 0 25px;text-align:center;color:#ffffff">

                                                                                    <a href="{{ reset_link }}"
                                                                                        style="color:#ffffff;text-decoration:none;display:inline-block;text-align:center;background:#4183c4;background-color:#4183c4;border-radius:5px;padding:12px 44px;font-weight:bold;letter-spacing:normal;font-size:17px;margin:0 auto;width:auto!important"
                                                                                        target="_blank">
                                                                                        Réinitialiser votre mot de passe
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}