{% extends "base.html" %}

{% block title %}
Bienvenue {{ lastname }} sur le projet Cube Cesi !
{% endblock %}

{% block content %}
<style>
    .welcome h1 {
        font-size: 24px;
        padding-bottom: 30px;
        text-align: center;
    }

    .welcome table {
        border: none;
        padding-bottom: 6px;
    }

    .welcome td {
        padding: 12px 18px 12px 18px;
        border-radius: 10px;
        background-color: #1f7f4c;
        text-align: center;
    }

    .welcome table a {
        font-size: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
    }

    .welcome span {
        font-style: italic;
        text-align: center;
    }
</style>

<div class="welcome">
    <h1>Bienvenue {{ lastname }} sur le projet Cube Cesi !</h1>
    <table cellspacing="0" cellpadding="0">
        <tbody align="center">
            <tr>
                <td>
                    <a href="{{ activation_link }}" target="_blank">Valider votre compte &rarr;</a>
                </td>
            </tr>
        </tbody>

    </table>
    <span>Ce lien est valide 24 heures.</span>
</div>


{% endblock %}