{% extends "base.html" %}

{% block title %}
Bienvenue {{ lastname }} sur le projet Cube Cesi !
{% endblock %}

{% block content %}
Bienvenue {{ lastname }} sur le projet Cube Cesi !<br>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="padding: 12px 18px 12px 18px; border-radius:5px; background-color: #1F7F4C;" align="center">
            <a href="{{ activation_link }}" target="_blank"
                style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">Valider
                votre compte &rarr;</a>
        </td>
    </tr>
</table>
Ce lien est valide 24 heures.
{% endblock %}